@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.youtube-iframe iframe{
  height: 550px
}
@media screen and (max-width: 400px) {
  .youtube-iframe iframe{
    height: 180px
  }
}
@media screen and (max-width: 768px) {
  .youtube-iframe iframe{
    height: 300px
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #017f8e;
  transform-origin: 0%;
  z-index: 100;
}

iframe{
  min-height: 450px;
  padding: 1rem;
  border-radius: .5rem;
  overflow: hidden;
}